name: Run Shepherd

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run Psalm
        run: ./vendor/bin/phpstan  --show-info=false --shepherd --diff --output-format=checkstyle | cs2pr